@model CRUD.Models.UserListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>削除</h3>
<p><a href="/Home/Index">一覧へ</a></p>
<h3>削除しますか？</h3>

<dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>@Model.Id</dd>

    <dt>ユーザID</dt>
    <dd>@Model.Userid</dd>

    <dt>名前</dt>
    <dd>@Model.Name</dd>

    <dt>年齢</dt>
    <dd>@Model.Age</dd>

    <dt>作成日</dt>
    <dd>@Model.D_CRT</dd>
</dl>

<form action="/Home/Delete" method="post">
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" value="削除" class="btn btn-default" />
    </div>
</form>