@model CRUD.Models.UserListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>詳細</h3>
<p><a href="/Home/Index">一覧へ</a></p>

<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Userid</th>
        <td>@Model.Userid</td>
    </tr>
    <tr>
        <th>名前</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>年齢</th>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <th>作成日</th>
        <td>@Model.D_CRT</td>
    </tr>
</table>