@model IEnumerable<CRUD.Models.UserListModel>

@{
    ViewData["Title"] = "Home Page";
}

<h3>ユーザ一覧</h3>

<p><a href="/Home/Create">新規作成</a></p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ユーザID</th>
            <th>名前</th>
            <th>年齢</th>
            <th>作成日</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
               <td>@item.Id</td>
               <td>@item.Userid</td>
               <td>@item.Name</td>
               <td>@item.Age</td>
               <td>@item.D_CRT</td>
               <td>
                   <a href="/Home/Details/@item.Id">詳細</a> | 
                   <a href="/Home/Edit/@item.Id">更新</a> | 
                   <a href="/Home/Delete/@item.Id">削除</a> | 
               </td>
           </tr>
        }
    </tbody>
</table>